<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Aviso de débito automático</title>
</head>


<body>

    <p>
        <br />
        <span style="color:#000000"><span style="background-color:#ecf0f1">Estimado/a {1}</span></span>
    </p>

    <p>
        <span style="font-size:12px">
            <span style="color:#000000">
                <span style="font-family:Tahoma,Arial,Helvetica,sans-serif">
                    <span style="background-color:#ffffff">
                        {5}
                    </span>
                </span>
            </span>
        </span><br />
        <br />
        <span style="font-family:Tahoma,Arial,Helvetica,sans-serif"><span style="font-size:12px">{2}</span></span>&nbsp;<br />
        <strong>Importe total a debitar de su tarjeta&nbsp;{7}&nbsp;</strong><span style="color:#000000">${3}</span>
    </p>

    <p>
        <br />
        <span style="font-size:12px">
            <span style="font-family:Tahoma,Arial,Helvetica,sans-serif">
                <span style="background-color:#ffffff">
                    <br />
                    <span style="color:#500050">Los valores de débito automático para el próximo vencimiento serán los siguientes:</span><br />
                    <span style="color:#500050">{9}</span><br />
                    <span style="color:#500050">{10}</span><br />
                    <br />
                    <span style="color:#500050">Adjuntamos en formato PDF su informe de vencimiento.</span><br />
                    <br />
                    <span style="color:#500050">Si en los saldos adeudados que se le informan, Ud. advierte que no ha sido imputado alg&uacute;n</span><br />
                    <span style="color:#500050">pago que ha realizado, por favor, escr&iacute;banos al mail citado a fin de adjuntarnos el</span><br />
                    <span style="color:#500050">comprobante del mismo y brindarnos los datos de los nichos y/o urnas respectivos, a</span><br />
                    <span style="color:#500050">los fines que se registre en nuestra base de datos.</span><br />
                    <br />
                    <span style="color:#500050">Que Dios los bendiga, atentamente.</span><br />
                    <br />
                    <span style="color:#500050">La Administraci&oacute;n</span><br />
                    <span style="color:#500050">C&aacute;ritas Buenos Aires Iglesia Cat&oacute;lica</span><br />
                    <span style="color:#500050">Pante&oacute;n Nuestra Se&ntilde;ora de la Merced</span><br />
                    <span style="color:#500050">Guzm&aacute;n 840 (1427) - C.A.B.A.</span><br />
                    <span style="color:#500050">Email:&nbsp;</span><a href="mailto:cobranzaspanteon@caritasbsas.org.ar" onclick="return checkLinkHref(this.href);" style="color: rgb(80, 0, 80);" target="_blank">cobranzaspanteon@caritasbsas.org.ar</a><br />
                    <span style="color:#500050">Central telef&oacute;nica: 3990-8782 4554-3170 4555-0062</span><br />
                    <span style="color:#500050">Whatsapp: 11 3990-8775 y 11 3990-8777</span><br />
                    <span style="color:#500050">Consultas administrativas: 3990-8781</span><br />
                    <span style="color:#500050">Inhumaciones e ingreso de cenizas 3990-8773</span><br />
                    <span style="color:#500050">Tr&aacute;mites: 3990-8774</span>
                </span>
            </span>
        </span>
    </p>

    <p>
        <br />
        &nbsp;
    </p>

</body>
</html>