
@{
    Layout = null;
    ViewBag.Title = "Confirmar mi contraseña por olvido";
    ViewBag.Description = "Login Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotConfirmation</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <p>
        Por Favor Chequee su Email para Cambiar su contraseña.
    </p>
</body>
</html>
