@model DsCommon.ModelsView.ResetPasswordViewModel

@{
	Layout = "~/Views/Shared/AdminLTEAccount/_Layout.cshtml";
}

<div class="row align-items-center justify-content-md-center h-p100">
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">

			<div class="col-12">
				<div class="row justify-content-center g-0">
					<div class="col-lg-5 col-md-5 col-12">
						<div class="bg-white rounded10 shadow-lg">
							<div class="content-top-agile p-20 pb-0">
								<h3 class="mb-0 text-primary">Resetear Contraseña</h3>
							</div>
							<div class="p-40">
								<form id="formCambiarPass" name="formCambiarPass" method="post" class="tooltip-end-bottom" novalidate>
									<input type="hidden" asp-for="Token" />
									<div class="row">
										<div class="form-group col-md-12">
											<label for="txtEmail">Email</label>
											<input type="text" class="form-control" asp-for="Email" placeholder="Ingrese el email">
											<span asp-validation-for="Email" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-12">
											<label for="txtEmail">Contraseña</label>
											<input input asp-for="Password" type="password" class="form-control ps-15 bg-transparent" placeholder="Contraseña">
											<span asp-validation-for="Password" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-12">
											<label for="txtEmail">Confirma Contraseña</label>
											<input input asp-for="ConfirmPassword" type="password" class="form-control ps-15 bg-transparent" placeholder="Contraseña">
											<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-info margin-top-10">Aplicar Reset</button>
										</div>
										<!-- /.col -->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


