.user .profile {
    margin: -50px -30px 0 -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .user .profile .info {
        padding: 30px 60px;
        text-align: center;
        background-color: #fff;
        white-space: nowrap;
        background-color: #404040;
        color: #fff;
    }

        .user .profile .info img {
            border-radius: 50%;
            max-width: 110px;
            margin-bottom: 20px;
            margin-top: 10px;
        }

    .user .profile .cover-image {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-image: url(http://placeimg.com/1200/300/nature);
        background-size: cover;
        background-position: center;
        min-height: 300px;
    }

.user .user-tabs {
    margin-top: 20px;
}

    .user .user-tabs .nav-link {
        border-left: 3px solid transparent;
        padding: 12px 15px;
        border-bottom: 0;
        font-size: 15px;
        border-radius: 0;
    }

        .user .user-tabs .nav-link.active {
            border-left-color: #009688;
            border-bottom: 0;
        }

        .user .user-tabs .nav-link:hover, .user .user-tabs .nav-link:active {
            background-color: #eee !important;
            border-bottom: 0;
        }

.user .tab-content {
    margin: 20px -10px -10px;
}

.user .timeline-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

    .user .timeline-post .post-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 15px;
    }

        .user .timeline-post .post-media img {
            margin-right: 10px;
        }

        .user .timeline-post .post-media h5 {
            margin-top: 0;
            margin-bottom: 3px;
            font-size: 15px;
        }

    .user .timeline-post .post-content {
        margin-bottom: 20px;
    }

    .user .timeline-post .post-utility {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

        .user .timeline-post .post-utility .likes,
        .user .timeline-post .post-utility .shares {
            margin-right: 10px;
        }

            .user .timeline-post .post-utility .likes a,
            .user .timeline-post .post-utility .shares a {
                color: #555;
            }

        .user .timeline-post .post-utility .comments {
            color: #555;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: right;
        }

.user .user-settings .line-head {
    font-size: 18px;
    margin-bottom: 30px;
    color: #2a2a2a;
}

.user .user-settings label {
    color: #666;
}



.toggle.lg input[type="checkbox"] + .button-indecator:before {
    font-size: 30px;
}

.toggle input[type="checkbox"] {
    display: none;
}

    .toggle input[type="checkbox"] + .button-indecator {
        cursor: pointer;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .toggle input[type="checkbox"] + .button-indecator:before {
            content: "";
            font-family: "FontAwesome";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 25px;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            margin-right: 5px;
            vertical-align: -2px;
        }

    .toggle input[type="checkbox"]:checked + .button-indecator:before {
        content: "";
        color: #009688;
        -webkit-animation: toggleBtn 0.3s ease-in-out;
        animation: toggleBtn 0.3s ease-in-out;
    }

    .toggle input[type="checkbox"]:disabled + .button-indecator {
        cursor: not-allowed !important;
    }

        .toggle input[type="checkbox"]:disabled + .button-indecator:before {
            color: #ccc;
        }

.toggle-flip input[type="checkbox"] {
    display: none;
}

    .toggle-flip input[type="checkbox"] + .flip-indecator {
        position: relative;
        width: 60px;
        height: 30px;
        display: block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-perspective: 90px;
        perspective: 90px;
    }

        .toggle-flip input[type="checkbox"] + .flip-indecator:before, .toggle-flip input[type="checkbox"] + .flip-indecator:after {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            line-height: 30px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            text-align: center;
            border-radius: 3px;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .toggle-flip input[type="checkbox"] + .flip-indecator:before {
            content: attr(data-toggle-off);
            background-color: #ddd;
        }

        .toggle-flip input[type="checkbox"] + .flip-indecator:after {
            content: attr(data-toggle-on);
            background-color: #009688;
            color: #fff;
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }

    .toggle-flip input[type="checkbox"]:checked + .flip-indecator:before {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .toggle-flip input[type="checkbox"]:checked + .flip-indecator:after {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    .toggle-flip input[type="checkbox"]:disabled + .flip-indecator {
        cursor: not-allowed !important;
        color: #ccc;
    }

@-webkit-keyframes toggleBtn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes toggleBtn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

