@*<div class="modal-dialog">

</div>*@

<div class="modal-content" style="width:400px;height:200px">
    <div class="modal-body">
       <h3>Trabajo en progreso</h3>
       <div class="progress" style="height:50px;">
           <div class="progress-bar-success progress-bar-striped active progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

           </div>
       </div>
    </div>
</div>
